.card2 {
    height: 12.5rem;
    width: 10rem;
    background-color: var(--color-secondary);
    border-radius: 0.75rem;
    margin: 20px 0 20px 0;
    color: whitesmoke;
    border: var(--color-secondary) 2px solid;
}

.card2-pkm-img {
    width: auto;
    height: calc(100% - 68px);
    background: linear-gradient(to bottom right, #0000 calc(50% - 80px), var(--color-primary-dark) 50%, #0000 calc(50% + 80px)) bottom right/calc(200% + 160px) calc(200% + 160px) rgba(10, 92, 124, 0.2);
}

.card2-pkm-header {
    display: flex;
    padding: 0 8px;
    align-items: center;
    height: 20px;
    width: 100%;
    margin: 4px 0;
    background: linear-gradient(to bottom right, #0000 calc(50% - 80px), var(--color-primary-dark) 50%, #0000 calc(50% + 80px)) bottom right/calc(200% + 160px) calc(200% + 160px) rgba(10, 92, 124, 0.2);
}



.card2-pkm-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 32px;
    margin: 4px 0;
    background: linear-gradient(to bottom right, #0000 calc(50% - 80px), var(--color-primary-dark) 50%, #0000 calc(50% + 80px)) bottom right/calc(200% + 160px) calc(200% + 160px) rgba(10, 92, 124, 0.2);
}

.skeleton {
    animation: skeleton-loading 1s infinite;
    /* animation: skeleton-loading 1s linear infinite alternate; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes skeleton-loading {
    100% {
        background-position: top left
    }

    /* 0% {
        background-color: rgba(10, 92, 124, 0.2);
    }

    100% {
        background-color: var(--color-primary-dark);
    } */
}

.skeleton-type {
    width: 100%;
    border-radius: 0 0 12px 12px;
}

.skeleton-header {
    width: 100%;
    border-radius: 12px 12px 0 0;
}