* {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Funnel Sans';
    scroll-behavior: smooth;
}

:root {
    --padding-main: 0 80px;
}

body {
    margin: 0;
    font-family: "Coiny", system-ui;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-main);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 80px;
    width: 100%;

}

header img {
    height: 80%;
}

footer {
    height: 80px;
    background-color: darkgrey;
}

main {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    position: relative;
}

#pkm-sidebar {
    width: 300px;
    background-color: lightcoral;
    transform: translateX(100%);
    transition: 0.3s ease;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 5;
}

#pkm-sidebar.active {
    transform: translateX(0);
}

.sidebar {
    position: sticky;
    top: 80px;
}

section {
    background-color: lightsalmon;
    width: 90%;
    margin: 100px 0 100px 0;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    height: 300px;
    width: 200px;
    background-color: antiquewhite;
    border: red 1px solid;
    border-radius: 12px;
}